.header-small {
	margin-left: 15px;
}

.enterKey {
	margin-right: 5px;
}

.fa-sort {
	margin-left: 7px;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	transition: background 0.2s, color 0.2s;
}

.fa-sort:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

